gunicorn==18.0
lxml==3.3.5
mock==1.0.1
pymongo==2.7
pyramid==1.5
pyramid-debugtoolbar==2.0.2
pyramid-mako==1.0.2
requests==2.2.1
picles.plumber==0.11
-e git+http://github.com/picleslivre/simpleslug#egg=simpleslug
